<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/img/home.png" style="width: 60px; height: 60px; align-items: flex-start;">
  </a>
  
  <h2 style="text-align: center;">
    Perguntas
    <small class="text-muted">sobre algo que queira saber :)</small>
  </h2>
 
  <a href="/perguntas">
    <img src="/img/perguntas.png" style="width: 60px; height: 60px; margin-left: inherit ;">
  </a>
</nav>